{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>

<body>
    <div class="caja-1">
     
        <div class="caja-2">             
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita voluptatibus mollitia quia repellat velit vel recusandae, laudantium ullam iste sapiente id natus commodi a ab amet est, aliquid harum quibusdam qui dolorem dignissimos voluptatem deleniti culpa? Libero aspernatur corrupti fugiat voluptatum blanditiis? Asperiores iste deserunt corporis laudantium est praesentium beatae sapiente, dolores sunt commodi molestias ut velit nobis quaerat recusandae, alias, in ab accusantium odit tenetur dolor amet explicabo reiciendis! Maxime eum velit ipsa accusamus quisquam, porro ea, nostrum sapiente minima facere, reiciendis tempore illum voluptates provident alias quam doloremque id consequatur. Consequatur hic, quas dicta debitis nisi voluptatem tenetur?
        </div>	
        <div class="caja-3">             
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere dolorem nesciunt error consequuntur quis dolores nulla. Reiciendis, porro facilis nostrum voluptatibus aperiam commodi recusandae dolorem hic sit. Commodi, ullam corporis!
        </div>	
    </div>
 </body>

<p>Website created by {{ username }}</p>

{% endblock %}